@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
p{
  font-family: 'GowunBatang-Regular';
  text-align: center;
  line-height: 2px;
}
img{
  display: block;
  margin:30px auto;
  width: 250px;
  
  background: none;
}
.mbti{
  color: #808080;
  margin-top: 70px;
  font-size: 12px;
}
.movie{
  font-size: 13px;
}
.name{
  font-size: 20px;
  font-weight: 1000;
}
.type{
  font-size: 13px;
  line-height: 20px;
}
.intro{
  margin: 0 auto 20px auto;
  background-color: #f5f5f5;
  padding: 5px;
  width: 400px;
  border-radius: 10px;

}